// Define breakpoint variables
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.row {
    display: flex;
    flex-wrap: wrap;
    // position: relative;
    box-sizing: border-box;
    width: 100%;
}

.col {
    flex: 1 0 0%;
}

@for $i from 0 through 24 {
    @if ($i == 0) {
        .col-#{$i} {
            display: none;
        }
    } @else {
        .col-#{$i} {
            width: calc(100% / 24 * $i);
        }
    }
    .offset-#{$i} {
        margin-left: calc(100% / 24 * $i);
    }
}

// Define a function to generate columns classes
@function generate-col-classes($size, $breakpoint) {
    $classes: ();

    @for $i from 0 through $size {
        $classes: append($classes, "col-#{$breakpoint}-#{$i}");
    }

    @return $classes;
}

@function get-col-size($class) {
    @return str-slice(str-slice($class, str-length("col-")), str-length("-"));
}

@each $breakpoint,
$value in (xl: $xl, lg: $lg, md: $md, sm: $sm) {
    @media (max-width: $value) {
        @each $class in generate-col-classes(24, $breakpoint) {
            $col-size: str-slice($class, str-length("col-#{$breakpoint}--"));
            @if ($col-size == "0") {
                .#{$class} {
                    display: none;
                }
            } @else {
                .#{$class} {
                    width: calc(100% / 24 * #{$col-size});
                }
            }
            .offset-#{$breakpoint}-#{$col-size} {
                margin-left: calc(100% / 24 * #{$col-size});
            }
        }
    }
}